.md-typeset h1 {
    line-height: 1.4;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0.2em;
    margin-left: 0px;
}

.md-typeset h2 {
    margin-top: 0.6em;
    margin-right: 0px;
    margin-bottom: 0.64em;
    margin-left: 0px;
}
